@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Life Organizer</h1>
    <p>Our goal is to help you keep track of what matters most. Health, Work, and Play. <i>Get balanced today!</i></p>
</div>
