@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will not sell your information.</p>
<p>We will protect your information.</p>
<p>Your name and other identifying information is to remain private.</p> 
<p>We only need to know your birth date to gain a sense of our demographic.</p>